.card-title {
	padding-bottom: 15px;
}

.card-text {
	font-size: 12px;
	color: #5c646e;
	padding-bottom: 22px;
}

.card-link {
	font-size: 12px;
}

.footer .card-title {
	color: #a5adb8;
}

span.first-letter {
	display: inline-block;
}