.nav {
 display: block;
 background: #ff1744;
 padding: 10px 0;
}

.nav .nav-item {
 color: #fff;
 margin: 0 30px;
 font-size: 16px;
 font-weight: 600;
}
 .nav-item:hover {
 	text-decoration: underline;
 }